.item-cardxx{
    width: 600px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(16, 133, 69, 0.133);
}
span{
    padding-left: 10px;
    cursor: pointer;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
 
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    width: 500px;
    height: 50px;
    
  }
  
  button {
    
    
    
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .Map{
    margin-top: 30px;
    width: 100%;
    height: 500px;
  }